<nav class="navbar navbar-color navbar-fixed-top"><p class="small-paragraph"></p>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only spanclass">Toggle navigation</span>
          <span class="icon-bar spanclass"></span>
          <span class="icon-bar spanclass"></span>
          <span class="icon-bar spanclass"></span>
        </button>
        <a class="navbar-brand"><b>RESUME MASTER</b></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="change-font" routerLink='/openings'>Openings</a></li>
          <li><a class="change-font" routerLink='/login'>Build Resume</a></li>
          <li><a class="change-font" routerLink="/register">SignUp</a></li>
          <li><a class="change-font" routerLink='/login'>SignIn</a></li>
          <li><a class="change-font" routerLink='/main'><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
      </div>
  </nav>