<div class="containers">
    <div class="row">
       <app-navbar></app-navbar>
      </div><br><br><br><br><br><br>
      <div class="row">
          <div class="col-md-12">
                <h1>&nbsp;&nbsp;Some Resume Templates</h1><br>
          </div>
      </div><br>
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <button class="btn btn-lg btn-block btn-color" routerLink='/resumebuild'><b>CREATE YOUR RESUME</b></button>
          </div>
          <div class="col-md-3"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
            <h2>First Template</h2><br>
            <img src="https://d.novoresume.com/images/doc/basic-resume-template.png" width="600"/>
        </div>
        <div class="col-md-6">
            <h2>Second Template</h2><br>
                <img src="https://d.novoresume.com/images/doc/functional-resume-template.png" width="600"/>
        </div>
      </div><br><br>
      <div class="row">
            <div class="col-md-6">
                <h2>Third template</h2><br>
                    <img src="https://i.pinimg.com/originals/3d/98/dd/3d98dd3bf337f569ad877151c26ff443.jpg" width="600"/>
            </div>
            <div class="col-md-6">
                <h2>Fourth template</h2><br>
                    <img src="https://d.novoresume.com/images/doc/professional-resume-template.png" width="600"/>
            </div>
      </div>
</div>