<div class="containers">
  <div class="row">
    <app-navbar></app-navbar>
  </div><br><br><br><br><br><br>
  <div class="row">
    <div class="col-md-12">
      <h1>&nbsp;&nbsp; Current Openings</h1><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <mat-nav-list>
            <a mat-list-item href="https://www.google.com/search?source=hp&ei=Fu3zW9ntBYyVwgORqa_ACg&q=bangalore+java+jobs&oq=bangalore+java+jobs&gs_l=psy-ab.3..0l2j0i22i30l4.51212.65487..65586...5.0..0.175.2035.21j3......0....1..gws-wiz.....0..38j0i131.uzMk-deQsyw&ibp=htl;jobs#htidocid=ZauG-VQXr_aKjzkcAAAAAA%3D%3D"> Java Openings</a>
            <a mat-list-item href="https://www.google.com/search?q=mean+stack+developer+jobs&ibp=htl;jobs#fpstate=tldetail&htidocid=Zqs_VofOxYbZmXUaAAAAAA%3D%3D&htivrt=jobs"> MEAN Stack Openings</a>
            <a mat-list-item href="https://www.google.com/search?q=software+tester&ibp=htl;jobs#fpstate=tldetail&htidocid=JHKpMuG2FTi5VjBcAAAAAA%3D%3D&htivrt=jobs"> Software Test Engineer positions</a>
           </mat-nav-list>
    </div>
  </div>
</div>